#nav {
	float: left;
    margin-left: 60px;
}
#nav li.menu {
	display: block;
	float: left;
    font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size: 20px;
    height: 80px;
    width: 160px;
}
#nav li.menu a {
    margin-top: 36px;
	display: block;
    text-decoration: none;
    text-align: center;
}
#nav li.menu a:hover {
	text-decoration: underline;
}
#nav li.menu {
	float: left;
	position: relative;
}
