#nav {
	float: left;
	margin-left: 40px;
}
#nav li.menu {
	display: block;
	float: left;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size: 20px;
	height: 60px;
	padding: 0 40px;
}
.fixedHeader #nav li.menu {
	height: 40px;
}
#nav li.menu a {
	margin-top: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.fixedHeader #nav li.menu a {
	margin-top: 10px !important;
}
#nav li.menu a:hover {
	text-decoration: underline;
}
#nav li.menu {
	float: left;
	position: relative;
}
