/* Common */
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Arial, sans-serif;
	/*background: url('../imgs/bkg.png') top repeat-x;*/
	line-height: 1.3em;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.shown {
	display: block;	
}
.hidden {
	display: none;
}

a {
	
}
img {
	border: 0;
}
ul {
	list-style-type: none;
}

input[type="submit"],input[type="button"] {
	padding: 1px 4px;
}
/* Common */

/* Wrapper */
.pageWrapper {
	width: 1000px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
#divPk.pageWrapper {
	width: 1050px;
}
.pageWrapper * {
	margin-left: 90px;
	margin-right: 10px;
	margin-top: 15px;
}
.pageWrapper #divHeader {
	margin-left: 10px;
	margin-top: 0;
}
.pageWrapper * * {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
.pageWrapper a {
	color: black;
}
.pageWrapper a:hover {
	text-decoration: underline;
}
/* Wrapper */

/* Header */
#divHeader {
	margin-top: 0;
	width: 980px;
	height: 60px;
}
.fixedHeader #divHeader {
	position: fixed;
	top: 0;
	z-index: 100;
}
#divHeader, #divHeader a {
	color: White;
}
#divHeader h1 {
	padding-top: 25px;
	/*padding-left: 55px;*/
	float: left;
	text-shadow: #666 1px 1px;
	font-family: "Courier New", courier, monospace, serif;
}
#divHeader #icon {
	float: left;
	display: block;
	height: 60px;
	width: 80px;
	background-color: white;
}
#divHeader #icon img {
	margin-top: 8px;
	margin-left: 16px;
}
#divHeader #navWrapper {
	height: 60px;
	background-color: black;
}
.fixedHeader #divHeader #navWrapper {
	height: 40px;
}
/* Header */

/* Bread crumb */
#divCrumb {
	font-size: small;
	color: #666;
	margin-top: 10px;
}
.fixedHeader #divCrumb {
	margin-top: 70px;
}
#divCrumb a {
	text-decoration: none;
}
#divCrumb a:hover {
	text-decoration: underline;
}
/* Bread crumb */

/* Dowload */
#divDownload {
	font-family: Georgia, serif;
	margin-left: 90px;
}

#divDownload .label {
	color: #32559B;
	margin-bottom: 10px;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: bold;
}

#divDownload div.item {
	position: relative;
}
#divDownload div.margin {
	margin-right: 50px;
}
#divDownload div.splitRight {
	border-right: 1px solid #999999;
}

#divDownload a.dlLink {
	display: block;
	width: 250px;
	height: 98px;
	text-decoration: none;
}

#divDownload a.dlJSMinNpp {
	background: url('../imgs/download-jsminnpp.png') top left no-repeat;
}
#divDownload a.dlNpp {
	background: url('../imgs/download-npp.png') top left no-repeat;
}
#divDownload a.dlLink:hover {
	background-position: top right;
}

#divDownload a.dlLink .dlName, #divDownload a.dlLink .dlInfo {
	display: block;
	position: absolute;
	width: 250px;
}
#divDownload a.dlLink .dlName {
	top: 30px;
	left: 0;
	font-size: x-large;
	color: white;
	text-shadow: #333 1px 1px;
}
#divDownload a.dlLink:hover .dlName {
	text-decoration: underline;
	text-shadow: black 1px 1px;
}

#divDownload a.dlLink .dlInfo {
	top: 60px;
	left: 0;
}
#divDownload a.dlJSMinNpp .dlInfo {
	color: #CDE6F5;
}
#divDownload a.dlNpp .dlInfo {
	color: #346012;
}

#divDownload a.dlOthers {
	height: 1.5em;
	line-height: 1.5em;
	font-size: small;
}
/* Dowload */

/* List with header */
.divListwHeader, .divListwHeader .listHeader {
}
.divListwHeader {
	background-color: white;
}

/* List with header - header */
.divListwHeader .listHeader {
	/*color: white;*/
	border-bottom: 1px solid black;
}
.divListwHeader .listHeader:hover {
	cursor: pointer;
}
.divListwHeader .listHeader a {
	/*color: white;*/
}
.divListwHeader .listHeader a:hover {
	text-decoration: underline;
}

.divListwHeader .listHeader, .divListwHeader .listHeader .listHeaderLeft, .divListwHeader .listHeader .listHeaderMiddle, .divListwHeader .listHeader .listHeaderRight {
	height: 30px;
	line-height: 30px;
} 
.divListwHeader .listHeader .listHeaderLeft, .divListwHeader .listHeader .listHeaderMiddle, .divListwHeader .listHeader .listHeaderRight {
	float: left;
} 
.divListwHeader .listHeader .listHeaderLeft {
	width: 20px;
}
.divListwHeader .listHeader .listHeaderMiddle {
	width: 740px;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
}
#divPk .divListwHeader .listHeader .listHeaderMiddle {
	width: 998px;
}
.divListwHeader .listHeader .listHeaderRight {
	width: 19px;
}
/* List with header - header */

/* List with header - bottom */
.divListwHeader .listBottom, .divListwHeader .listBottom .listBottomLeft, .divListwHeader .listBottom .listBottomMiddle, .divListwHeader .listBottom .listBottomRight {
	height: 10px;
} 
.divListwHeader .listBottom .listBottomLeft, .divListwHeader .listBottom .listBottomMiddle, .divListwHeader .listBottom .listBottomRight {
	float: left;
} 
.divListwHeader .listBottom .listBottomLeft {
	width: 13px;
	
}
.divListwHeader .listBottom .listBottomMiddle {
	width: 748px;
	
}
#divPk .divListwHeader .listBottom .listBottomMiddle {
	width: 998px;
}
.divListwHeader .listBottom .listBottomRight {
	width: 19px;
	
}
/* List with header - bottom */

/* List with header - container */
.divListwHeader .listContainer .listContainerMiddle, .divListwHeader .listContainer .listContainerRight {
	float: left;
} 
.divListwHeader .listContainer {
	
}
.divListwHeader .listContainer .listContainerMiddle {
	margin: 25px 0 10px 20px !important;
	width: 850px;
	background-color: white;
	/*font-family: Georgia;*/
	font-size: 15px;
}
#divPk .divListwHeader .listContainer .listContainerMiddle {
	width: 990px;
}
.divListwHeader .listContainer .listContainerRight {
	width: 780px;
	
}
#divPk .divListwHeader .listContainer .listContainerRight {
	width: 1030px;
}
/* List with header - container */

/* List with header */

/* Screenshots */
ul#ulScreenshots li, ul#ulScreenshots li a {
	float: left;
	display: block;
	font-size: small;
	width: 152px;
}
ul#ulScreenshots li {
	margin-right: 40px;
	margin-bottom: 15px;
}
ul#ulScreenshots li a * {
	display: block;
}
ul#ulScreenshots li a img {
	border: 1px solid #32559B;
}
ul#ulScreenshots li a span {
	margin-top: 3px;
	text-align: center;
}

#divScreenshots {
	position: relative;
}
#divScreenshots #divMore{
	position: absolute;
	right: 0;
	bottom: 0;
}
/* Screenshots */

/* Peacekeeper */
#tableDatas {
	font-family: Georgia, serif;
	font-size: small;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#tableDatas tr {
	height: 1.5em;
	line-height: 1.5em;
}
#tableDatas tr.odd {
	background-color: #ccc;
}
#tableDatas th {
	font-family: Arial, san-serif;
}
#tableDatas th, #tableDatas td {
	border: 1px solid #666;
	padding: 2px;
}

#tableDatas td.name {
	padding-right: 30px;
}
#tableDatas tr.chrome td.name, #tableDatas tr.chrome td.version {
	background-color: #FBD510;
	text-shadow: #cccccc 1px 1px;
}
#tableDatas tr.firefox td.name, #tableDatas tr.firefox td.version {
	background-color: #B82805;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.ie td.name, #tableDatas tr.ie td.version {
	background-color: #1071A9;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.opera td.name, #tableDatas tr.opera td.version {
	background-color: #BD0D0D;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.chrome td.name, .drawBase div.chrome {
	background: #FBD510 url('../imgs/icon-chrome-16.png') right bottom no-repeat;
}
#tableDatas tr.firefox td.name, .drawBase div.firefox {
	background: #B82805 url('../imgs/icon-firefox-16.png') right bottom no-repeat;
}
#tableDatas tr.ie td.name, .drawBase div.ie {
	background: #1071A9 url('../imgs/icon-ie-16.png') right bottom no-repeat;
}
#tableDatas tr.opera td.name, .drawBase div.opera {
	background: #BD0D0D url('../imgs/icon-opera-16.png') right bottom no-repeat;
}


canvas {
	margin-left: auto;
	margin-right: auto;
}

.resultLabel {
	display: none;
	text-align: center;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size: x-small;
	line-height: 1.1em;
	color: white;
	background-color: black;
	border: 1px solid black;
	opacity: 0.75;
	padding: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 2px 2px 2px black;
	z-index: 1000;
	position: absolute;
}

.drawBase {
	width: 980px;
	height: 185px;
	position: relative;
	border-bottom: 1px solid #666;
	margin-bottom: 30px;
}
.drawBar {
	position: absolute;
	bottom: 0;
	-moz-border-radius: 5px 5px 0 0;
	webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}
.drawBar .drawResult {
	color: white;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-size: 10px;
	font-weight: bold;
	text-align: center;
	text-shadow: #333333 1px 1px;
}
.chrome .drawResult {
	color: black;
	text-shadow: white 1px 1px;
}
.drawShadow {
	background: white url('../imgs/result-bar-shadow.png') top center repeat-x;
	position: absolute;
	bottom: -31px;
	height: 30px;
}
/* Peacekeeper */

/* Others */
ul.indentList {
	margin-left: 1em;
}
ul.circleList li {
	list-style-position: outside;
	list-style-type: disc;
}

.lastestNews {
	font-weight: bold;
}
.newsDate {
	color: #666666;
}
/* Others */

/* Footer */
#divFooter {
	font-size: x-small;
	color: #666;
}
/* Footer */
