/* Common */
* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	background: url('../imgs/bkg.png') top repeat-x;
	line-height: 1.3em;
}
.clear {
	clear: both;
}
.center {
	text-align: center;
}
.floatLeft {
	float: left;
}
.floatRight {
	float: right;
}

.shown {
	display: block;	
}
.hidden {
	display: none;
}

a {
	text-decoration: none;
}
img {
	border: 0;
}
ul {
	list-style-type: none;
}

input[type="submit"],input[type="button"] {
	padding: 1px 4px;
}
/* Common */

/* Wrapper */
.pageWrapper {
	width: 800px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}
#divPk.pageWrapper {
	width: 1050px;
}
.pageWrapper * {
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 15px;
}
.pageWrapper * * {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
}
.pageWrapper a {
	color: #32559B;
}
.pageWrapper a:hover {
	text-decoration: underline;
}
/* Wrapper */

/* Header */
#divHeader {
	margin-top: 0;
	height: 80px;
}
#divHeader, #divHeader a {
	color: White;
}
#divHeader h1 {
	padding-top: 25px;
	float: left;
	text-shadow: #666 1px 1px;
	font-family: "Courier New", courier, monospace, serif;
}
#divHeader #nav {
	float: right;
	border-right: 1px solid #2F508C;
	border-left: 1px solid #5373B0;
}
#divHeader #nav li {
	display: block;
	float: left;
	font-size: 20px;
	border-left: 1px solid #2F508C;
	border-right: 1px solid #5373B0;
	position: relative;
	font-weight: bold;
}
#divHeader #nav li a {
	display: block;
	float: left;
	height: 70px;
	line-height: 75px;
	padding: 0 15px;
	text-shadow: #666 1px 1px;
}
#divHeader #nav li a:hover {
	background-color: #3366CC;
	text-decoration: none;
}
/* Header */

/* Dowload */
#divDownload {
	font-family: Georgia, serif;
}

#divDownload .label {
	color: #32559B;
	margin-bottom: 10px;
	font-family: Lucida Grande,Geneva,Trebuchet MS,sans-serif;
	font-weight: bold;
}

#divDownload div.item {
	position: relative;
}
#divDownload div.margin {
	margin-right: 50px;
}
#divDownload div.splitRight {
	border-right: 1px solid #999999;
}

#divDownload a.dlLink {
	display: block;
	width: 250px;
	height: 98px;
	text-decoration: none;
}

#divDownload a.dlJSMinNpp {
	background: url('../imgs/download-jsminnpp.png') top left no-repeat;
}
#divDownload a.dlNpp {
	background: url('../imgs/download-npp.png') top left no-repeat;
}
#divDownload a.dlLink:hover {
	background-position: top right;
}

#divDownload a.dlLink .dlName, #divDownload a.dlLink .dlInfo {
	display: block;
	position: absolute;
	width: 250px;
}
#divDownload a.dlLink .dlName {
	top: 30px;
	left: 0;
	font-size: x-large;
	color: white;
	text-shadow: #333 1px 1px;
}
#divDownload a.dlLink:hover .dlName {
	text-decoration: underline;
	text-shadow: black 1px 1px;
}

#divDownload a.dlLink .dlInfo {
	top: 60px;
	left: 0;
}
#divDownload a.dlJSMinNpp .dlInfo {
	color: #CDE6F5;
}
#divDownload a.dlNpp .dlInfo {
	color: #346012;
}

#divDownload a.dlOthers {
	height: 1.5em;
	line-height: 1.5em;
	font-size: small;
}
/* Dowload */

/* Bread crumb */
#divCrumb {
	font-size: small;
	color: #666;
}
/* Bread crumb */

/* List with header */
.divListwHeader, .divListwHeader .listHeader {
}
.divListwHeader {
	background-color: White;
}

/* List with header - header */
.divListwHeader .listHeader {
	color: White;
}
.divListwHeader .listHeader:hover {
	cursor: pointer;
	/*background-color: #111111;*/
}
.divListwHeader .listHeader a {
	color: white;
}
.divListwHeader .listHeader a:hover {
	text-decoration: underline;
}

.divListwHeader .listHeader, .divListwHeader .listHeader .listHeaderLeft, .divListwHeader .listHeader .listHeaderMiddle, .divListwHeader .listHeader .listHeaderRight {
	height: 30px;
	line-height: 30px;
} 
.divListwHeader .listHeader .listHeaderLeft, .divListwHeader .listHeader .listHeaderMiddle, .divListwHeader .listHeader .listHeaderRight {
	float: left;
} 
.divListwHeader .listHeader .listHeaderLeft {
	width: 13px;
	background: transparent url('../imgs/list-corner.png') top left no-repeat;
}
.divListwHeader .listHeader .listHeaderMiddle {
	width: 748px;
	background: transparent url('../imgs/list-bar.png') top center repeat-x;
}
#divPk .divListwHeader .listHeader .listHeaderMiddle {
	width: 998px;
}
.divListwHeader .listHeader .listHeaderRight {
	width: 19px;
	background: transparent url('../imgs/list-corner.png') top right no-repeat;
}
/* List with header - header */

/* List with header - bottom */
.divListwHeader .listBottom, .divListwHeader .listBottom .listBottomLeft, .divListwHeader .listBottom .listBottomMiddle, .divListwHeader .listBottom .listBottomRight {
	height: 10px;
} 
.divListwHeader .listBottom .listBottomLeft, .divListwHeader .listBottom .listBottomMiddle, .divListwHeader .listBottom .listBottomRight {
	float: left;
} 
.divListwHeader .listBottom .listBottomLeft {
	width: 13px;
	background: transparent url('../imgs/list-corner.png') bottom left no-repeat;
}
.divListwHeader .listBottom .listBottomMiddle {
	width: 748px;
	background: transparent url('../imgs/list-bar.png') bottom center repeat-x;
}
#divPk .divListwHeader .listBottom .listBottomMiddle {
	width: 998px;
}
.divListwHeader .listBottom .listBottomRight {
	width: 19px;
	background: transparent url('../imgs/list-corner.png') bottom right no-repeat;
}
/* List with header - bottom */

/* List with header - container */
.divListwHeader .listContainer .listContainerMiddle, .divListwHeader .listContainer .listContainerRight {
	float: left;
} 
.divListwHeader .listContainer {
	background: transparent url('../imgs/list-container-left.png') top left repeat-y;
}
.divListwHeader .listContainer .listContainerMiddle {
	margin: 10px 0 10px 20px !important;
	width: 740px;
	background-color: white;
	font-family: Georgia;
}
#divPk .divListwHeader .listContainer .listContainerMiddle {
	width: 990px;
}
.divListwHeader .listContainer .listContainerRight {
	width: 780px;
	background: transparent url('../imgs/list-container-right.png') top right repeat-y;
}
#divPk .divListwHeader .listContainer .listContainerRight {
	width: 1030px;
}
/* List with header - container */

/* List with header */

/* Screenshots */
ul#ulScreenshots li, ul#ulScreenshots li a {
	float: left;
	display: block;
	font-size: small;
}
ul#ulScreenshots li {
	margin-right: 40px;
	margin-bottom: 15px;
}
ul#ulScreenshots li a * {
	display: block;
}
ul#ulScreenshots li a img {
	border: 1px solid #32559B;
}
ul#ulScreenshots li a span {
	margin-top: 3px;
	text-align: center;
}

#divScreenshots {
	position: relative;
}
#divScreenshots #divMore{
	position: absolute;
	right: 0;
	bottom: 0;
}
/* Screenshots */

/* Peacekeeper */
#tableDatas {
	font-family: Georgia, serif;
	font-size: small;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#tableDatas tr {
	height: 1.5em;
	line-height: 1.5em;
}
#tableDatas tr.odd {
	background-color: #ccc;
}
#tableDatas th {
	font-family: Arial, san-serif;
}
#tableDatas th, #tableDatas td {
	border: 1px solid #666;
	padding: 2px;
}

#tableDatas td.name {
	padding-right: 35px;
}
#tableDatas tr.chrome td.name, #tableDatas tr.chrome td.version {
	background-color: #FBD510;
	text-shadow: #cccccc 1px 1px;
}
#tableDatas tr.firefox td.name, #tableDatas tr.firefox td.version {
	background-color: #B82805;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.ie td.name, #tableDatas tr.ie td.version {
	background-color: #1071A9;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.opera td.name, #tableDatas tr.opera td.version {
	background-color: #BD0D0D;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.chrome td.name {
	background: #FBD510 url('../imgs/icon-chrome-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.firefox td.name {
	background: #B82805 url('../imgs/icon-firefox-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.ie td.name {
	background: #1071A9 url('../imgs/icon-ie-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.opera td.name {
	background: #BD0D0D url('../imgs/icon-opera-32-o.png') 60px 5px no-repeat;
}

canvas {
	margin-left: auto;
	margin-right: auto;
}

#divCanvasLabel {
	text-align: center;
	font-size: x-small;
	line-height: 1.1em;
	color: white;
	background-color: #3F3F3F;
	border: 1px solid black;
	opacity: 0.8;
	padding: 3px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	box-shadow: 2px 2px 2px black;
	z-index: 1000;
	position: absolute;
}
/* Peacekeeper */

/* Others */
ul.indentList {
	margin-left: 1em;
}
/* Others */

/* Footer */
#divFooter {
	font-size: x-small;
	color: #666;
}
/* Footer */
