body {
	font-size: 16px;
	margin: 0;
	padding: 0;
	font-family: Arial, san-serif;
}

.center {
	text-align: center;
}

input.jqCommHolder {
	color: #666;
}

#back {
	background: white;
	position: fixed;
	top: 0;
	left: 0;
	padding: 3px;
	box-shadow: 3px 3px 3px #888888;
	-moz-box-shadow: 3px 3px 3px #888888;
}

#wrapper {
	width: 1050px;
	margin-left: auto;
	margin-right: auto;
}

#wrapper * {
	margin: 15px 0;
}

#wrapper * * {
	margin: 0;
}

.title {
	margin: 5px 0 !important;
	font-weight: bold;
	text-align: center;
}

#tableDatas {
	font-family: Georgia, serif;
	font-size: small;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}
#tableDatas tr {
	height: 1.5em;
	line-height: 1.5em;
}
#tableDatas tr.odd {
	background-color: #ccc;
}
#tableDatas th {
	font-family: Arial, san-serif;
}
#tableDatas th, #tableDatas td {
	border: 1px solid #666;
}

#tableDatas td.name {
	padding-right: 35px;
}
#tableDatas tr.chrome td.name, #tableDatas tr.chrome td.version {
	background-color: #FBD510;
	text-shadow: #cccccc 1px 1px;
}
#tableDatas tr.firefox td.name, #tableDatas tr.firefox td.version {
	background-color: #B82805;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.ie td.name, #tableDatas tr.ie td.version {
	background-color: #1071A9;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.opera td.name, #tableDatas tr.opera td.version {
	background-color: #BD0D0D;
	color: white;
	text-shadow: #333333 1px 1px;
}
#tableDatas tr.chrome td.name {
	background: #FBD510 url('icon-chrome-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.firefox td.name {
	background: #B82805 url('icon-firefox-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.ie td.name {
	background: #1071A9 url('icon-ie-32-o.png') 60px 5px no-repeat;
}
#tableDatas tr.opera td.name {
	background: #BD0D0D url('icon-opera-32-o.png') 60px 5px no-repeat;
}

canvas {
	margin-left: auto;
	margin-right: auto;
}

